@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~react-responsive-carousel/lib/styles/carousel.min.css';

*{
    margin:0;
    padding:0;
}

.verdade ul{
  display: none;
}

nav{
    background-image: url('../../public/imagens/epiphany.png');
    background-repeat: no-repeat;
    background-size: 9%;
    background-color: #FFD7D3;
    height: 150px;
    background-position: 3% 35%;
    /*margin-bottom: 10px;
    box-shadow: 10px 5px 5px pink;*/
}

#pesquisa{
          margin-left:45%;
          padding-top: 0px;
          display:flex;
}

#pesquisa input{
                background-color: transparent;
                border-bottom: solid black 1px;
}

nav ul{
   display: flex;
   padding-left: 250px;
   padding-top: 50px;

}

nav ul li{
  padding:5px 55px 15px 0px;
}

#rota{
  color: black;
  font-weight: bold;
  font-family: Georgia, serif;
  font-size: 18px;
}

#rota:hover{
  background-image: linear-gradient(to bottom, rebeccapurple, pink, steelblue);
  

  background-clip: text;
  -webkit-background-clip: text; 

  
  -webkit-text-fill-color: transparent;


  color: black;
}

.geral{
   background-color:/*ffe9af #f7d7ef18*/ #fafdea;
}


.produto{
  background-color: white;
  text-align: center;
  border-radius: 5px;
  /*box-shadow: 2px 2px 5px white;*/
  box-shadow: 0 5px 70px -12px rgb(0 0 0 / 0.25);
}

.produto img{
  margin-left: auto;
    margin-right: auto; 
}

form{
  box-shadow: 0 5px 70px -12px rgb(0 0 0 / 0.25);
}

form input{
  box-shadow: 1px 2px 2px 2px #FFD7D3;
  border-radius: 3px;
  height: 30px;
  
}

.botao{
  background-image: linear-gradient(to right, #CC95C0 0%, #DBD4B4  51%, #CC95C0  100%);
  height: 50px;
  border-radius: 5px;
  color: White;
  font-size: 18px;
  font-weight: bold;
 
}
 .botao:hover{
  background-color: #FFD7D3;
  background-image: none;
 }

 footer{
    background-image: url('../../public/imagens/epiphany.png');
    background-repeat: no-repeat;
    background-size: 9%;
    background-color: #FFD7D3;
    height: 200px;
    position: relative;
    bottom: 0;
    background-position: 3% 35%;
    padding-left: 250px;
   }


