@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin:0;
    padding:0;
}

nav{
    background-color: white;
    background-image: url('../../public/imagens/epiphany.png');
    background-repeat: no-repeat;
    background-size: 9%;
    background-color: #FFD7D3;
    height: 150px;
    background-position: 3% 35%;
}

#pesquisa{
          margin-left:45%;
          padding-top: 0px;
          display:flex;
}

#pesquisa input{
                background-color: transparent;
                border-bottom: solid black 1px;
}

nav ul{
   display: flex;
   padding-left: 250px;
   padding-top: 50px;

}

nav ul li{
  padding:5px 55px 15px 0px;
}

#rota{
  color: black;
  font-weight: bold;
  font-family: Georgia, serif;
  font-size: 18px;
}

#rota:hover{
  background-image: linear-gradient(to bottom, rebeccapurple, pink, steelblue);
  

  background-clip: text;
  -webkit-background-clip: text; 

  
  -webkit-text-fill-color: transparent;


  color: black;
}
